@import '../../../App.css';

option {
  padding: 10px;

  &:hover {
    box-shadow: inset 0 0 10px var(--color-primary) !important;
    background: none;
    color: inherit;
  }

  &:focus-visible {
    box-shadow: inset 0 0 10px var(--color-secondary);
    outline: none;
  }

  &.hidden {
    display: none;
  }

  & div.label {
    font-size: var(--font-size-form-input);
    margin-bottom: 5px;
  }

  &.selected div.label {
    color: var(--color-primary);
  }

  & div.description {
    color: var(--color-secondary);
    font-size: 12px;
    white-space: break-spaces;
  }
}