@import '../../App.css';

div.input-container {
  position: relative;
  padding: 0;
  
  & input {
    border-radius: 5px;
    border: solid 1px var(--color-secondary);
    height: var(--height-form-input);
    width: 100%;
    padding: 5px 30px 5px 10px;
    font-size: var(--font-size-form-input);
  
    &:focus-visible {
      border-color: var(--color-primary) !important;
      outline: solid 3px var(--color-primary-20) !important;
    }
  }
  
  & label + input {
    padding-top: 8px;
    padding-bottom: 2px;
  }
  
  & label:has(+ input:focus-visible) {
    border-color: var(--color-primary) !important;
  }
  
  & .clear-input-icon {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
    color: var(--color-secondary);
  }

  &.success {
    & label {
      border-color: var(--color-success);
    }

    & input {
      border-color: var(--color-success);
      outline: solid 3px var(--color-success-20);
    }
  }

  &.warning {
    & label {
      border-color: var(--color-warning);
    }
  
    & input {
      border-color: var(--color-warning);
      outline: solid 3px var(--color-warning-20);
    }
  }
  
  &.error {
    & label {
      border-color: var(--color-danger);
    }
  
    & input {
      border-color: var(--color-danger);
      outline: solid 3px var(--color-danger-20);
    }
  }
}