.input-output-container {
  display: flex;
  gap: 30px;

  & > .input-container,
  & > .output-container {
    width: calc(50% - 15px);
  }
}

@media (max-width: 768px) {
  .input-output-container {
    display: initial;

    & > .input-container,
    & > .output-container {
      width: 100%;
    }
  }
}