@import '../../App.css';

div.selectmenu-container {
  position: relative;
  margin-top: 9px;

  & selectmenu {
    width: 100%;
  
    & button {
      display: flex;
      align-items: center;
      gap: 5px;
      height: var(--height-form-input);
      width: 100%;
      padding: 10px;
      border: solid 1px var(--color-secondary);
      border-radius: var(--border-radius-form-input);
      background: none;

      & span.selected-value,
      & span.placeholder {
        flex-grow: 1;
        text-align: left;
        margin-top: 6px;
        font-size: var(--font-size-form-input);

        &.hidden {
          display: none;
        }

        &.placeholder {
          color: var(--color-secondary);
          margin-top: 0;
        }
      }

      & .save-icon-container,
      & .clear-input-icon {
        position: initial;
      }

      &:focus-visible {
        border-color: var(--color-primary) !important;
        outline: solid 3px var(--color-primary-20) !important;
      }
    }

    &:open button {
      border-color: var(--color-primary) !important;
      outline: solid 3px var(--color-primary-20) !important;
    }

    & div.listbox {
      border: solid 1px var(--color-secondary);
      border-radius: var(--border-radius-form-input);
      box-shadow: 3px 3px 10px var(--color-secondary);
      width: 0px;
      margin-top: 3px;
    }
  }

  & label:has(+ selectmenu button:focus-visible),
  & label:has(+ selectmenu:open) {
    border-color: var(--color-primary);
  }

  &.success {
    & label {
      border-color: var(--color-success);
    }

    & button {
      border-color: var(--color-success);
      outline: solid 3px var(--color-success-20);
    }

    & span.message {
      color: var(--color-success);
    }
  }

  &.warning {
    & label {
      border-color: var(--color-warning);
    }
  
    & button {
      border-color: var(--color-warning);
      outline: solid 3px var(--color-warning-20);
    }
  
    & span.message {
      color: var(--color-warning);
    }
  }
  
  &.error {
    & label {
      border-color: var(--color-danger);
    }
  
    & button {
      border-color: var(--color-danger);
      outline: solid 3px var(--color-danger-20);
    }
  
    & span.message {
      color: var(--color-danger);
    }
  }
}

